{% extends 'base.html' %}
{% load filtre %}

{% block content %}
    <!--Topside-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Information
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h3 class="my-4">Visialisez les statistiques liées à la gestion du personnel</h3>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Statistics
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Personnel <i class="fas fa-users"></i></h4>
                                    <h3>{{ nbPerso }}</h3>
                                </div>                             
                            </div>
                            <div class="col-md-6">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Departement <i class="fas fa-box"></i></h4>
                                    <h3>{{ nbDepart }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->

    <!--Graphs-->
    <div class="container">
        <div class="row my-5">
            <div class="col-md-8">
                <div class="bg-white">
                    <canvas id="myChart1" width="400" height="300"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [{% for departement in departements %} '{{ departement.nomDepartement }}', {% endfor %}],
                                datasets: [{
                                    label: 'Departement',
                                    data: [{% for departement in departements %} '{{ departement|nbrePersonnel }}', {% endfor %}],
                                    backgroundColor: [
                                    'rgba(155, 209, 142, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(256, 189, 64, 1)',
                                    'rgba(76, 198, 192, 1)',
                                    'rgba(163, 802, 255, 1)',
                                    'rgba(265, 189, 64, 1)',
                                    'rgba(65, 892, 192, 1)',
                                    'rgba(653, 182, 255, 1)',
                                    'rgba(265, 158, 64, 1)'
                                    ],
                                    borderColor: [
                                    'rgba(155, 209, 142, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(256, 189, 64, 1)',
                                    'rgba(76, 198, 192, 1)',
                                    'rgba(163, 802, 255, 1)',
                                    'rgba(265, 189, 64, 1)',
                                    'rgba(65, 892, 192, 1)',
                                    'rgba(653, 182, 255, 1)',
                                    'rgba(265, 158, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!--End Graphs-->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

{% endblock content %}
