{% extends 'base.html' %}

{% block content %}

    <h2>{{ departement.nomDepartement }}</h2>


    <a href="{% url 'ajouterDepartement' %}" class="option">Ajouter</a>
    <a href="" class="option">Modifier</a>
    <a href="" class="option">Supprimer</a>

        
    <table>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
        
        {% for elt in personnel %}
        <tr>
            <td>{{ elt.id }}</td>
            <td><a href="{% url 'personnel' elt.id %}">{{ elt.nom }}</a></td>
            <td>{{ elt.prenom }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}