{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                <button class="btn btn-secondary"> 
                    <img src="{% static 'images/profil.png' %}" height="100" width="100" />
                </button> 
                <span class="name mt-3">{{ personnel.nom }} {{ personnel.prenom }}</span>
                <br>
                <div class=" d-flex mt-2"> 
                    <button class="btn1 btn-dark">Modifier</button> 
                </div>
                <div class="text mt-3">
                    <span>
                        {{ personnel.nom }} {{ personnel.prenom }} travaille au service <strong>{{ personnel.departement.nomDepartement }}</strong>.
                        Vous pouvez le contacter par e-mail {{ personnel.email }}.                  
                    </span>
                </div>
                <div class=" px-2 rounded mt-4 date ">
                    <span class="join">A commencé le {{ personnel.date_arrivee }}</span> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}