.parent {
    display: grid;
    grid-template-columns: 1fr 0.5fr repeat(3, 1fr);
    grid-template-rows: 0 repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}
    
.div1 { 
    grid-area: 2 / 1 / 6 / 2;
}

.div2 { 
    grid-area: 2 / 3 / 6 / 6; 
}