table{
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 75%;
    margin: 50px auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgb(32 32 32 / 30%);
    background: #fafafa;
    text-align: center;
}

th, td{
    padding: 12px 15px; 
}

th{
    background: #008037;
    color: #fafafa;
    text-transform: uppercase;
}

tr:nth-child(odd){
    background-color: #eeeeee;
}

tr:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgb(0 0 0 / 20%), -1px -1px 8px rgb(0 0 0 / 20%);
}