{% extends 'base.html' %}

{% block content %}
    <h1>Yo</h1>

    <section>
        <div class="fiche">
            <a href="{% url 'ajouterPersonnel'%}">
                <img src="" alt="">
                <button>Ajouter personnel</button>
            </a>
        </div>
        <div class="fiche">
            <a href="{% url 'ajouterDepartement'%}">
                <img src="" alt="">
                <button>Ajouter département</button>
            </a>
        </div>
    </section>
{% endblock content %}