<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestoPers</title>
</head>
<body>
    <header id="entete">
        <h1>GestoPers</h1>
        <nav class="navigation">
            <ul>
                <li> <a href="#">Accueil</a> </li>
                <li> <a href="#">Ajouter</a> </li>
                <li> <a href="#">Statistique</a> </li>
            </ul>
        </nav>
    </header>

    <footer id="pied">

    </footer>
</body>
</html>