@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

body{
    display: block;
}

main{
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 75px;
    color: whitesmoke;
    flex-direction: column;
    text-align: center;
}

ul{
    list-style: none;
    margin-bottom: 0px;
}

header{
    background: #ffb74d;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 2;
}

#titre{
    margin: 7%;
    float: left;
    font-weight: 600;
}

li, a{
    font-weight: 600;
    font-size: 18;
    color: black;
    text-decoration: none !important;
}

main a{
    font-weight: 400;
    font-size: medium;
}

li{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    margin: 0 20px;
}

li a {
    transition: all 0.3s ease 0s;
}

li a:hover{
    color: whitesmoke;
}

nav{
    float: right;
    margin-right: 5%;
    display: flex;
}


/* Menu Burger */
.menuBurger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
    display: none;
}

.btnBurger{
    width: 40px;
    height: 5px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 143, 102, 0.267);
    transition: all .5s ease-in-out;
}

.btnBurger::before, .btnBurger::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 143, 102, 0.267);
    transition: all .5s ease-in-out;
}
.btnBurger::before{
    transform: translateY(-12px);
}

.btnBurger::after{
    transform: translateY(12px);
}

.menuBurger.open .btnBurger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menuBurger.open .btnBurger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menuBurger.open .btnBurger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* Fin */

footer{
    background: #ffb74d;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width : 930px) {

    main{
        min-height: auto;
    }

    .menuBurger{
        display: flex;
    }

    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #ffb74d;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all .3s ease-in-out;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 40px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:active {
        color: whitesmoke;
    }

    footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

.material-icons{
    color: black;
}

.btnCommencer{
    display: block;
    background-color: #ffb74d;
    border-color: #ffb74d;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    width: 150px;
    margin: auto;
    cursor: pointer;
    margin-top: 60px;
}

.btnCommencer:hover{
    background-color: #008037;
    border-color: #008037;
    color: white;
}

main h2{
    padding: 20px;
}

.option{
    font-size: 14px;
    margin: 15px;
    border-bottom: 2px solid #008037;
}

/* For statistique */
.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.col-md-8 {
    margin: auto !important;
}

.bg-info {
    background-color: #008037 !important;
}

.col-md-4, .col-md-8{
    margin-bottom: 15px;
}